# Go specific
*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.out

# Environment variables
.env

# Log files
*.log
server.log

# Cache directory
static/cache/
static/cache/*

# IDE specific files
.idea/
.vscode/
*.swp
*.swo
*.swn
.DS_Store

# Binary files
/CineSeer
/med_disc

# Go workspace file
go.work
